*{
  box-sizing: border-box;
}

body {
  margin:0;
  font-family:sans-serif;
  background:#D9F9CC;
}

.contenedor {
  color: #ACF58E;
  text-align: center;
}

.form-municipio{
  width: 60%;
  max-width: 500px;
  margin: auto;
  background: #7D;
  border-radius: 7px;
}

.titulo-form-municipio {
  background: #41B511;
  color: #fff;
  padding: 8px;
  text-align: center;
  font-weight: 100px;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 10px solid crimson;
}
  
.contenedor-input {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tabla-municipios {
  text-align: left;
  border: 1px solid darkgray;
  width: 100%;
}

.tabla-botones {
  text-align: center;
  border: 1px solid darkgray;
}

.input-50 {
  width: 50%;
}

.btn-insertar {
  background: #41B511;
  color: #DDFFF2;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 7px;
}

.btn-insertar: active {
  transform: scale(1.05);
}

.btn-Modificar {
  background: #46CF0E;
  color: #DDFFF2;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 7px;
}

.btn-Modificar: active {
  transform: scale(1.05);
}

.btn-Buscar {
  background: #46CF0E;
  color: #DDFFF2;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 7px;
}

.btn-Buscar: active {
  transform: scale(1.05);
}

.btn-Eliminar {
  background: #46CF0E;
  color: #DDFFF2;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 7px;
}

.btn-Eliminar: active {
  transform: scale(1.05);
}

.btn-Limpiar {
  background: #41B511;
  color: #DDFFF2;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 7px;
}

.btn-Limpiar: active {
  transform: scale(1.05);
}

.btn-Retornar  {
  background: #41B511;
  color: #DDFFF2;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 7px;
}

.btn-Retornar: active {
  transform: scale(1.05);
}
